In [1]:
#Formulas y usos de numpy-pandas

import numpy as np
import pandas as pd

In [2]:
#Crear arreglo de numpy

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

#Crear DataFrame a partir de un arreglo de numpy

df = pd.DataFrame(arr, columns=['A', 'B', 'C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
data = {
    "A" : [1, 4, 7],
    "B" : [2, 5, 8],
    "C" : [3, 6, 9]
}
df= pd.DataFrame(data)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
#Convertir DataFrame a arreglo de numpy

arr = df.to_numpy()
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [5]:
#Tambien se puede usar el df.values

df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
#Calcular el promedio de cada columna utilizando numpy
mean_columns = np.mean(df, axis=0)
mean_columns

A    4.0
B    5.0
C    6.0
dtype: float64

In [ ]:
df.mean(axis=0)  #Cuando el axis es  =0, es para columnas y si es =1, es para filas

A    4.0
B    5.0
C    6.0
dtype: float64